# vim: set fenc=utf-8 ff=unix ft=sshconfig :

Host mini
	User plex
	HostName Holmes-Plex.local

Host lmt
	User plex
	HostName 192.168.133.7
  Port 22

Host rlmt
	User plex
	HostName loganholmes.corecloud.com
	Port 22
	LocalForward 3080 127.0.0.1:80

Host homesocks
	User plex
	HostName loganholmes.corecloud.com
	Port 22
	DynamicForward *:1337

Host macpro
	User redadmin
	HostName 192.168.133.5
	
Host kunze
	User plex
	HostName kunzejc.corecloud.com
  
Host digitalocean
  User snown
  HostName 104.236.37.142
  LocalForward 3307 127.0.0.1:3306
  
Host kimsufi
	User loganholmes
	HostName 5.135.158.16
	LocalForward 3307 127.0.0.1:3306

